
html{
    box-sizing: border-box;/*esta propiedad hace que se ajuste todo a las medidas*/
    /*box-sizing: content-box;*/ /* esta propiedad es po defecto*/
}

*, *:before, *:after{
    box-sizing: inherit;
}

.nombre-sitio{
    margin-top: 50px;
    margin-bottom: 50px;
}

.nombre-sitio span{
    color: #037bc0;
}

.sobre-nosotros{
    background-color: red;
    width: 200PX;
    padding: 25px;
    box-sizing: border-box; 
}   

.sobre-empresa{
    background-color: blue;
    width: 500px;
    padding: 100px;
}
