
/* Globales */
html{
    box-sizing: border-box; /*esta opcion permite que atributos como padding o margin no afecten los tamaños*/
    font-size: 62.5%; /* por defecto font-size es igual a 16px, esto se hace para para lograr una proporcion de  1rem = 10px*/
}

*, *:before, *:after{   /* esto va junto con el box-sizing:border-box */
    box-sizing: inherit;
}

body{
    /*google fonts*/
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;


    font-size: 1.6rem; /* asignar 16px a todo el documento */
    line-height: 2; /* interlineado */
}

h1,h2,h3{
    /*google fonts*/
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    margin: 0 0 5rem 0;     /* quitar margenes por defecto de los headings */
}
h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 3rem;
}

a{  /* cambiar decoraciones de los enlaces */
    text-decoration: none;  
    color: #000;
}

.contenedor{
    max-width: 120rem;
    margin: 0rem auto;
}

img{
    display: block;
    max-width: 100%;    /*incluir para evitar desbordamientos al colocar en el css grid*/
}

.btn{
    background-color: #9cbc00;
    display: block; /* los elementos pueden tomar todo el ancho disponible */
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    padding:1rem;
    transition: background-color .3s ease-out; /*crea una transicion*/
}

.btn:hover{
    background-color: #769c02;
}

/** utilidades **/

.text-center{
    text-align: center;
}

/****** Header y Navegacion *******/

header{
    font-size: 10rem;
}

.nombre-sitio{
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span{
    color: #037bc0;
}

.contenedor-navegacion{
    border-top: 0.1rem solid #e1e1e1;
}

.nav-principal{
    padding: 2rem 0rem;
    display: flex; /* flex-box */
    flex-direction: row; /* valor por defecto */
    justify-content: space-between; /* espaciado entre cada elemento */
}

.hero{
    background-image: url(../img/principal.jpg); /* Imagen de fondo */
    background-repeat: no-repeat; /* evita que se repita la imagen*/
    background-size: cover; /* estira la imagen hasta la orilla */
    background-position: center center; /* centrar en el centro de la imagen*/
    height: 55rem;  /*altura de la imagen*/
}

.categorias{
    padding-top: 5rem;
}

.categoria a{
    display: block; /* por defecto inline, block permite acomodarlos uno abajo de otro y usar todo el espacio disponible.*/
    text-align: center; /* centrar el texto */
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover{
    background-color: #037bc0;
    border-bottom-right-radius: 1rem;   /* bordes circulares*/
    color: #e1e1e1;
}

.listado-categorias{
    display: grid; /* css grid */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de una fraccion cada una*/
    gap: 2rem; /* separacion entre columnas */
}

/** Bloque nosotros **/

.sobre-nosotros{
    /* con dos imagenes logramos este efecto*/
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../img/nosotros.jpg);
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    background-position: left center;
    margin-top: 2rem;
}

/*
### con css grid ###
.sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;
}

.texto-nosotros{
    grid-column: 2/3;
}*/
.sobre-nosotros-grid{
    display: flex;
    justify-content: flex-end; /* alinea todo el contenido empezando por el final */
}

.texto-nosotros{
    flex-basis: 50%; /*solo utiliza el 50% del espacio*/
    padding-left: 10rem; /*agrega padding al texto*/ 
    color: #e1e1e1;
}


/** listado de productos **/

.contenido-principal{
    padding-top: 5rem;
}

.listado-productos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    
}

.producto:nth-child(1){
    grid-column:1/7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.producto:nth-child(1) img{
    height: 43rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(2){
    grid-column:1/4;
}

.producto:nth-child(2) img,
.producto:nth-child(3) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.producto:nth-child(3){
    grid-column:4/7;
}

.producto:nth-child(4){
    grid-column:1/3;
}

.producto:nth-child(5){
    grid-column:3/5;
}
.producto:nth-child(6){
    grid-column:5/7;
}
.producto:nth-child(4) img,
.producto:nth-child(5) img,
.producto:nth-child(6) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.producto{
    background-color: #037bc0;
}

.texto-producto{
    text-align: center;
    color: #ffffff;
    padding: 2rem;
}

.texto-producto h3{
    margin: 0;
}

.texto-producto p{
    margin: 0 0 .5rem 0;
}

.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
} 

.producto img{
    transition: transform .3s ease-out;
}

.producto img:hover{
    transform: scale(.8);
}

.site-footer{
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}

/*.grid-footer{
    display: flex;
    gap: 2rem;
}

.grid-footer div{
    flex:1;
}*/

.grid-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; gap: 2rem;
}

.footer-menu a{
    display: block;
}

.copyright{
    margin-top: 5rem;
    text-align: center;
}



/* 
###opcion 1
.grid-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.grid-footer:nth-child(1){
    grid-column:1/2;
}

.grid-footer:nth-child(2){
    grid-column:2/3;
}

.grid-footer:nth-child(3){
    grid-column:3/4;
}

.grid-footer p{
    grid-column:1/4;
    text-align: center;
}
.grid-footer a{
    display: block;
}
    */



/** Nosotros **/
.contenido-nosotros{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 4rem;
}

.informacion-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/** blog  **/
.contenedor-blog{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

.entrada{
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}
